.content-page {
    margin-top: 150px;
    margin-bottom: 130px;
}

.news-add {
    font-size: 1.6em;
}

#mainNav, footer {
    background-color: #333033 !important;
}

.copyright {
    background-color: #383538;
}

h1, h3, .divider-custom .divider-custom-icon {
    color: #383538 !important;
}

.nav-butt {
    background-color: #9F0000!important;
}

.nav-butt:hover {
    background-color: #383538 !important;
}

.nav-butt:focus {
    background-color: #383538 !important;
}

.nav-butt:active {
    background-color: #383538 !important;
}

.masthead {
    background-color: #FFF!important;
}

td a, .news-add {
    color: #9F0000 !important;
}

a:hover {
    color: #FC0522 !important;
}

.flash {
    color: red;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color:#9F0000;
    border-color:#9F0000;
}

.btn-primary:hover {
    color: #fff;
    background-color:#FC0522;
    border-color:#FC0522;
}

.justify {
    text-align: justify;
}

.thead {
    background-color: #333033 !important;
    color: #FFF;
}